@import url("https://fonts.googleapis.com/css?family=Titillium+Web");


* {
    font-family: "Titillium Web", sans-serif;
}

#intro {
    background-image: url('https://images.unsplash.com/photo-1438232992991-995b7058bbb3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1173&q=80');
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    backdrop-filter: blur(6px);
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
  }
  

#intro .heading{
    font-size: 25px;
    font-weight: bolder;
    letter-spacing: 0.5px;

}

/* Set color for navbar links */

:root {
    --main-bg-color: #009d63;
    --main-text-color: #006bbd;
    --second-text-color: #bbbec5;
    --second-bg-color: #c1efde;
}

.primary-text {
    color: var(--main-text-color);
}

.second-text {
    color: var(--second-text-color);
}

.primary-bg {
    background-color: var(--main-bg-color);
}

.secondary-bg {
    background-color: var(--second-bg-color);
}

.rounded-full {
    border-radius: 100%;
}
.alert-warning {
  color: #664d03;
  background-color: #fff3cd;
  border-color: #ffecb5;
}
.alert-primary {
  color: #084298! important;
}
.alert-success {
  color: #0F5132! important;
}
#wrapper {
    overflow-x: hidden;
    background-image: linear-gradient(to right,
            #bacef300,
            #cdd3e43a,
            #afc6f749,
            #d4edf896,
            #ade1ffc5);
}


a.list-group-item:hover{
    box-shadow: inset 200px 0 0 0 #78cded;
    color: black !important;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

#menu-toggle {
    cursor: pointer;
}

.list-group-item {
    border: none;
    padding: 20px 30px;
    line-height: 2.5;
}

.list-group-item.active {
    background-color: transparent;
    color: var(--main-text-color);
    font-weight: lighter;
    border: none;
}
.social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.social-networks i {
    font-size: 30px; /* Adjust the size as needed */
    color: black;
    margin-right: 25px;
}
@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

.navbar {
    background-color: #28a7e9 !important;
}

.navbar .navbar-brand {
    font-size: 20px;
    color: #fff;
}

.navbar .nav-item {
    padding: 10px 20px;
}

.navbar .nav-link {
    font-size: 20px;
    margin-left: 10px;
    color: black !important;
}
.nav-link:hover{
border-bottom: 5px solid orange;
}
.fa-bars {
    color: #007bff;
    font-size: 30px;
}

  .card-title{
    font-weight: bold;
  }
  .description{
    font-style: italic;
  }
  .hr{
    border: 2px solid orangered;
  }
  .blurry-image {
    filter: blur(3px);
}
#about {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  
  .subheading {
    font-size: 1.2rem;
    color: #333;
  }
  
  .heading {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.2;
  }
  
  p {
    margin-bottom: 1.5rem;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  .rounded {
    border-radius: 5px;
  }
  
  h3 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }
  .img-fluid:hover {
      transform: scale(1.1);
      transition: transform 0.3s ease-in-out;
    }
  
    .site-footer {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  
    .widget h3 {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 15px;
    }
  
    .widget ul.links li {
      margin-bottom: 8px;
    }
  
    .widget ul.links li a {
      color: #333;
    }
  
    .widget ul.links li a:hover {
      color: #007bff;
      text-decoration: underline;
    }
  
    .social-networks {
      margin-top: 15px;
    }
  
    .social-networks a {
      display: inline-block;
      margin-right: 10px;
      color: #333;
      font-size: 18px;
    }
  
    .footer-bottom {
      background-color: #f8f9fa;
      color: #333;
    }
    #qr-video,
    #preview {
        width: 100%; 
    }

    @media (max-width: 992px) { 
        #qr-video,
        #preview {
            width: 100%; 
        }
    }

    @media (max-width: 768px) { /* For small and smaller screens */
        #qr-video,
        #preview {
            width: 100%; /* Adjust the width as needed for small screens */
        }
    }

    /* para ma hidden ang pag print sa button. */
    @media print {
      .no-print {
        display: none;
      }
    }
    